@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";

md-card {
    @include contentStyle;
    margin: $contentMargin auto 64px;
    min-height: 200px;
    max-width: $contentWidth;
}

div.quiz-container {
    padding: 0 10px;
    height: $contentHeight;
}

.quiz-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}