@import "../../../assets/styles/mixins";

md-card {
    @include contentStyle;
    min-height: 200px;
    //margin: auto 32px;
}

.quiz-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}