@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";

md-card {
    @include contentStyle;
    margin: $contentMargin auto 0;
    min-height: 200px;
    max-width: $contentWidth;
}

.quiz-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}