@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";

header {
    width: 100%;
    min-height: 40px;
    height: $headerHeight;
    background-color: $quizMainColor;
    @include materialShadowStyle;
}

button {
    height: 100%;
    color: #ffffff;
    background-color: transparent;
}

section {
    @include centeredFlexBox;
    padding-right: 32px;
    color: #fff;
    height: 100%;
    float: right;
    &::after {
        clear: both;
    }
}
