<div class="main-quiz-card" *ngIf="quizComplete === true">
    <p>score: {{ userScore }}</p>
    <div class="btn-group">
        <button
            md-raised-button
            (click)="handleClickQuizCard('restart')"
        >
            RESTART QUIZ
        </button>
        <button
            md-raised-button
            (click)="handleClickQuizCard('post')"
        >
            POST SCORE
        </button>
    </div>
</div>
<div class="main-quiz-card" *ngIf="quizComplete !== true">
    <button
        md-raised-button
        (click)="handleClickQuizCard('start')"
    >
        START QUIZ
    </button>
</div>
