<div class="main-quiz-card" *ngIf="questionQuantity === 0 && quizComplete === false">
    <md-spinner></md-spinner>
</div>

<div class="main-quiz-card" *ngIf="quizComplete === true">

    <app-user-score [score]="score"></app-user-score>

    <div class="btn-group">
        <button
            md-raised-button
            (click)="handleClickQuizCard('restart')"
        >
            RESTART QUIZ
        </button>
        <button
            md-raised-button
            (click)="handleClickQuizCard('post')"
        >
            POST SCORE
        </button>
    </div>
</div>
<div class="main-quiz-card" *ngIf="quizComplete === false && questionQuantity > 0">
    <button
        md-raised-button
        (click)="handleClickQuizCard('start')"
    >
        START QUIZ
    </button>
</div>
