<md-sidenav-container class="main-container">

    <md-sidenav #mainSidenav class="sidenav">
        <app-nav [sidenav]="mainSidenav"></app-nav>
    </md-sidenav>

    <div class="sidenav-content">
        <button
            class="sticky-hamburger"
            md-button
            (click)="mainSidenav.open()"
        >
            Open sidenav
        </button>

        <router-outlet></router-outlet>
    </div>

    <p>counter: {{ data.counter }}</p>
    <button md-button (click)="increment()">inc counter</button>

</md-sidenav-container>