<md-sidenav-container class="main-container">

    <!--SIDE-NAV-->
    <md-sidenav #mainSidenav class="sidenav">
        <app-nav
            [sidenav]="mainSidenav"
            (resetQuiz)="resetQuiz()"
        ></app-nav>
    </md-sidenav>

    <!--MAIN CONTENT-->
    <div class="main-content">
        <app-header
            [mainSidenav]="mainSidenav"
            [title]="currentTitle"
        ></app-header>
        <router-outlet></router-outlet>
    </div>

</md-sidenav-container>

<!--FAB BTN-->
<div class="fab" *ngIf="quizStarted !== false">
    <button md-fab (click)="resetQuiz()">
        <md-icon>replay</md-icon>
    </button>
</div>
