<div class="question-container">

    <p>
        <span class="question-number">{{ numberOfQuestion + 1 }} / {{ quizQuestionQuantity }}&nbsp;&nbsp;</span>
        Q: {{ currentQuestion.question }}
    </p>

    <app-progress-bar></app-progress-bar>

    <md-card
        *ngFor="let obj of currentQuestion.answers"
        [ngClass]="(currentCorrectAnswer !== '' && currentCorrectAnswer === obj.tick) ? 'highlight' : ''"
        (click)="handleNextQuestion(obj.tick)"
    >
        {{ obj.tick }}: {{ obj.answer }}
    </md-card>

    <app-user-score [score]="score"></app-user-score>

</div>

