@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

html, body {
    margin: 0;
    height: 100%;
    font-family: Roboto, sans-serif;
}

/*results tab width*/
.mat-tab-label {
    width: 50%;
}