$headerHeight: 10%;
$contentMargin: 5%;
$contentHeight: 70%;

$quizMainColor: #783393;

$hoverAnswerColor: #FFD740;
$blinkingCorrectAnswer: darken($hoverAnswerColor, 10);
$lightenHover: lighten($hoverAnswerColor, 10);
